<a href="https://colab.research.google.com/github/Xminhakali/study/blob/main/AI__W3_17_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dataframe.shape

(3, 3)

In [ ]:
df = dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
#print column name
list(df.columns)

['Name', 'Price', 'License']

In [ ]:
df.describe()

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
# load library
import pandas as pd
# creat dataframe
dataframe = pd.DataFrame()
# add colums
dataframe['Name'] = ['Lemon', 'Apple', 'Banana']
dataframe['Price'] = [5,8,7]
dataframe['License'] = [False,True,False]
#show data
dataframe

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7    False

In [ ]:
df.loc[(df.Price == 5) | (df.Name== 'Banana')]

     Name  Price  License
0   Lemon      5    False
2  Banana      7    False

In [ ]:
#loc iloc truy xuat du lieu
df.loc[(df.Price == 5)]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [ ]:
df.iloc[[2]] #dday la chuoi sries phai them[]

     Name  Price  License
2  Banana      7    False

In [ ]:
df.iloc[0:3] #iloc python se bo gia tri cuoi cung

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7    False

In [ ]:
df.iloc[0:2,0:-1] #bo cot

    Name  Price
0  Lemon      5
1  Apple      8

In [ ]:
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
sum= df.Price.sum()
print(sum)

20

In [ ]:
max = df.Price.max()
print(max)

8

In [ ]:
count = df['Price'].count()
print(count)

3

In [ ]:
# creatte row data
new = pd.Series(['Orange',10,True], index=['Name','Price','License'])

#append row
dataframe.append(new, ignore_index= True)
#them gia tri trong hang de xem data thay doi nhu the nao chua chinh sua trong cot

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7    False
3  Orange     10     True

In [ ]:
dataframe['Location'] = ['USA','VN','SIN']
dataframe

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7    False      SIN

In [ ]:
# delete a row xoa hang
dataframe.drop(1, axis=0).head(10) #xoa hang axis=0 co gia tri 1

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7    False      SIN

In [ ]:
#delete a column
dataframe.drop('Location' , axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7    False

In [ ]:
#replace
dataframe['Price'].replace(5,7).head(2)
# thay gia tri trong data
#head la hien thi so data

0    7
1    8
Name: Price, dtype: int64

In [ ]:
#rename columns
dataframe.rename(columns={'Price' :'Cost'}).head()
#thay the gia trij cot

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7    False      SIN

In [ ]:
#2. KNOWING DATA

#load library

import pandas as pd 

#creat url

url ='/medals.csv'

#load data
dataframe = pd. read_csv(url)

#show data

dataframe.head()
#file csv= dang bang trong excel.trongpy laf ngan cach boi dau phay.. tsv
# VD doc file tsv
# dataframe= pd.read.csv('url',sep='it')

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
dataframe.shape

(2311, 8)

In [ ]:
df= dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [ ]:
list (df.columns)

['Year',
 'City',
 'Sport',
 'Discipline',
 'NOC',
 'Event',
 'Event gender',
 'Medal']

In [ ]:
df.describe

<bound method NDFrame.describe of       Year      City       Sport      Discipline  NOC            Event  \
0     1924  Chamonix     Skating  Figure skating  AUT       individual
1     1924  Chamonix     Skating  Figure skating  AUT       individual
2     1924  Chamonix     Skating  Figure skating  AUT            pairs
3     1924  Chamonix   Bobsleigh       Bobsleigh  BEL         four-man
4     1924  Chamonix  Ice Hockey      Ice Hockey  CAN       ice hockey
...    ...       ...         ...             ...  ...              ...
2306  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2307  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2308  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2309  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross
2310  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross

     Event gender   Medal
0               M  Silver
1               W    Gold
2               X    Gold
3               M  Bronze
4               M    Gold
...           ...     ...
2306            M  Silver
2307            W    Gold
2308            W  Silver
2309            M    Gold
2310            W  Silver

[2311 rows x 8 columns]>

In [ ]:
df.loc[(df.Medal == 'Gold')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [ ]:
df.loc[(df.Sport == 'Skiing') | (df.Year == 2006) | (df.NOC == 'USA')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
31,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Silver
32,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Bronze
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
df.iloc[[2000]] 
df.iloc[0:1001]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
996,1980,Lake Placid,Skiing,Cross Country S,URS,50km,M,Bronze
997,1980,Lake Placid,Skiing,Cross Country S,URS,50km,M,Gold
998,1980,Lake Placid,Skiing,Cross Country S,URS,5km,W,Gold
999,1980,Lake Placid,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold
1000,1980,Lake Placid,Skating,Figure skating,USA,individual,M,Bronze

In [ ]:
df.iloc[[233]]

     Year        City    Sport     Discipline  NOC  Event Event gender   Medal
233  1948  St. Moritz  Skating  Speed skating  SWE  5000m            M  Bronze

In [ ]:
df.iloc[0:10,1:-1]

       City       Sport      Discipline  NOC            Event Event gender
0  Chamonix     Skating  Figure skating  AUT       individual            M
1  Chamonix     Skating  Figure skating  AUT       individual            W
2  Chamonix     Skating  Figure skating  AUT            pairs            X
3  Chamonix   Bobsleigh       Bobsleigh  BEL         four-man            M
4  Chamonix  Ice Hockey      Ice Hockey  CAN       ice hockey            M
5  Chamonix    Biathlon        Biathlon  FIN  military patrol            M
6  Chamonix     Skating  Figure skating  FIN            pairs            X
7  Chamonix     Skating   Speed skating  FIN           10000m            M
8  Chamonix     Skating   Speed skating  FIN           10000m            M
9  Chamonix     Skating   Speed skating  FIN            1500m            M

In [ ]:
df.iloc[0:10,-7]

0    Chamonix
1    Chamonix
2    Chamonix
3    Chamonix
4    Chamonix
5    Chamonix
6    Chamonix
7    Chamonix
8    Chamonix
9    Chamonix
Name: City, dtype: object

In [ ]:
sum= df.Sport.sum()
print(sum)

SkatingSkatingSkatingBobsleighIce HockeyBiathlonSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingBiathlonCurlingSkatingBobsleighCurlingIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBobsleighSkatingCurlingSkatingIce HockeySkatingSkatingSkiingSkatingSkatingSkatingSkatingSkatingIce HockeySkatingSkatingSkatingSkatingSkatingBobsleighBobsleighSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeyIce HockeySkatingSkiingSkiingSkiingSkiingBobsleighBobsleighBobsleighBobsleighSkatingSkatingSkatingSkatingIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkatingBobsleighIce HockeySkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighSkatingSkiingSkiingBobsleighBobsleighBobsleighBobsleighIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingIce HockeySkatingSkatingSkatingSkatingSkiingSkiingSkiingBobsleighIce HockeySkatingSkatingSkatingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighBobsleighSkatingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighIce HockeySkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighSkatingIce HockeySkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighSkatingSkatingBobsleighSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingBobsleighBobsleighIce HockeySkatingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeyBobsleighBobsleighBobsleighBobsleighSkatingSkatingSkatingSkiingSkiingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingBobsleighBobsleighSkatingSkatingSkiingSkiingSkiingSkiingSkatingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighIce HockeySkatingSkiingSkiingBobsleighBobsleighIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkiingSkiingSkiingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkatingBobsleighBobsleighBobsleighSkiingSkatingSkatingSkiingSkiingSkiingBobsleighBobsleighSkiingSkiingSkiingSkiingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighIce HockeySkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkatingSkiingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingBiathlonSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkatingSkatingSkiingSkiingBiathlonSkatingSkiingSkiingSkiingSkiingSkiingSkatingBiathlonIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingBobsleighLugeLugeLugeSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighSkatingSkatingLugeLugeLugeLugeLugeSkatingSkatingSkiingSkiingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighBobsleighBobsleighLugeSkatingSkatingBiathlonSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingIce HockeySkatingSkiingSkiingSkiingSkiingSkiingIce HockeyBiathlonBiathlonIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkiingSkiingSkiingSkiingBobsleighLugeLugeSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkiingSkiingSkatingSkatingSkiingSkiingSkiingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighLugeLugeLugeSkatingSkatingSkiingLugeLugeLugeSkatingSkiingBobsleighBobsleighLugeSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingBiathlonBiathlonSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighSkiingSkiingSkiingSkiingSkiingBiathlonSkatingSkatingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkiingSkiingBiathlonBiathlonBiathlonIce HockeySkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkatingSkiingBiathlonSkiingSkiingSkiingSkiingSkatingSkiingSkiingBobsleighBobsleighBobsleighSkatingSkatingBiathlonBiathlonLugeLugeLugeLugeLugeLugeLugeLugeSkatingSkiingSkiingSkiingBobsleighLugeSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingBiathlonSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonSkatingSkatingSkiingIce HockeySkatingSkiingBiathlonIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkatingSkatingSkatingSkatingSkiingSkiingLugeSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkiingBiathlonBiathlonSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighIce HockeyLugeLugeLugeSkiingSkiingSkiingSkiingSkatingBiathlonBobsleighBobsleighLugeLugeLugeLugeLugeSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingBobsleighBobsleighSkiingSkiingSkiingSkiingSkiingIce HockeyBiathlonBiathlonBiathlonIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingLugeSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonLugeSkatingSkiingSkiingSkatingBiathlonBiathlonBiathlonBiathlonBobsleighBobsleighBobsleighBobsleighLugeLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkatingLugeLugeSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingBobsleighBobsleighSkiingSkiingSkiingIce HockeySkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonBiathlonIce HockeyLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonLugeSkatingBiathlonBiathlonBobsleighBobsleighBobsleighBobsleighLugeLugeLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingLugeSkiingSkatingSkiingSkiingBiathlonBiathlonBiathlonSkatingSkiingSkiingSkiingSkiingSkiingBobsleighSkiingSkiingSkiingSkiingIce HockeySkatingSkatingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkiingSkiingSkiingSkiingBiathlonBobsleighIce HockeyLugeLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkiingSkiingIce HockeySkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonLugeLugeSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBobsleighBobsleighBobsleighLugeLugeLugeLugeLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingBiathlonBiathlonSkiingSkiingSkiingSkatingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingBobsleighSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonBiathlonBobsleighBobsleighIce HockeyLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingBobsleighLugeLugeLugeLugeSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonIce HockeySkatingSkatingSkatingSkatingSkiingSkatingSkatingSkatingSkiingBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonSkiingSkiingSkiingSkiingSkiingSkiingBiathlonSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBobsleighBobsleighBobsleighLugeLugeLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingLugeSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkatingSkatingSkatingSkatingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingBobsleighBobsleighSkiingBiathlonBiathlonSkiingSkiingIce HockeySkatingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkatingLugeLugeSkatingSkatingSkiingSkiingSkiingSkiingSkiingBiathlonSkatingBiathlonBiathlonIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkatingSkatingSkatingIce HockeySkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonSkatingSkiingSkatingSkatingBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBobsleighBobsleighLugeLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighLugeLugeLugeLugeSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonBiathlonBiathlonSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighBobsleighSkiingSkiingSkiingSkiingSkiingSkiingIce HockeySkiingSkiingBiathlonSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingLugeSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingBiathlonSkiingBiathlonBobsleighCurlingCurlingIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingIce HockeySkiingSkiingCurlingBiathlonIce HockeyIce HockeySkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighSkatingSkatingSkiingSkiingSkiingSkiingSkiingBobsleighBiathlonBiathlonBiathlonBiathlonBiathlonBobsleighBobsleighLugeLugeLugeLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBobsleighLugeSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkatingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingBiathlonBiathlonBiathlonBiathlonBiathlonCurlingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonIce HockeySkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighCurlingSkiingSkiingSkiingSkiingSkiingCurlingSkiingSkiingBiathlonIce HockeyLugeLugeSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkiingBiathlonBobsleighLugeSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonSkatingSkatingCurlingCurlingIce HockeyIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighCurlingBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBobsleighBobsleighBobsleighBobsleighLugeLugeLugeLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingLugeSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonCurlingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonIce HockeySkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighBobsleighCurlingCurlingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonIce HockeySkiingSkiingSkiingSkiingBobsleighBobsleighBobsleighBobsleighBobsleighBobsleighIce HockeyIce HockeyLugeLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingLugeSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkatingBobsleighBobsleighBobsleighBobsleighCurlingCurlingIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingIce HockeySkiingSkiingSkiingSkiingSkiingSkiingCurlingIce HockeySkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonBiathlonBiathlonSkiingSkiingSkiingSkiingSkiingBobsleighBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonBobsleighBobsleighBobsleighLugeLugeLugeLugeSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighLugeLugeSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingBiathlonBiathlonBiathlonBiathlonBiathlonBiathlonSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonSkiingBiathlonBiathlonBiathlonBiathlonBiathlonBobsleighLugeSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBobsleighBobsleighBobsleighBobsleighCurlingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonBiathlonCurlingIce HockeyIce HockeySkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingBiathlonSkatingBobsleighCurlingIce HockeySkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkatingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiingSkiing

In [ ]:
max = df.Medal.max()
print(max)

Silver

In [ ]:
# cac Vd moi

In [ ]:
data= dataframe
data.shape

(2311, 8)

In [ ]:
data.describe()
#std: phuong sai
#mean: gia tri tb

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
data.iloc[0:11]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold

In [ ]:
data.iloc[[200]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [ ]:
data= data.set_index(data['Medal'])
data.loc['Gold']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Gold,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
Gold,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
Gold,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
Gold,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
Gold,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
Gold,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
Gold,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [ ]:
data.loc['Silver']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Silver,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
Silver,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
Silver,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
Silver,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
Silver,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
...,...,...,...,...,...,...,...,...
Silver,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
Silver,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data[data['NOC']=='CAN'].head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Gold,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
Gold,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
Gold,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
Bronze,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
Bronze,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze

In [ ]:
data[(data['Year']>=1932)&(data["Year"]<=2000) & (data['Sport']=='Skating') & (data['NOC']== 'CAN')].head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Bronze,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
Bronze,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
Bronze,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
Silver,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
Bronze,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze

In [ ]:
data['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
data.count()

Year            2311
City            2311
Sport           2311
Discipline      2311
NOC             2311
Event           2311
Event gender    2311
Medal           2311
dtype: int64

In [ ]:
data['Medal'].count()

2311

In [ ]:
data['Year'].unique()

array([1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972,
       1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006])

In [ ]:
data.drop('NOC',axis=1).head(30)

,Year,City,Sport,Discipline,Event,Event gender,Medal
Medal,,,,,,,
Silver,1924,Chamonix,Skating,Figure skating,individual,M,Silver
Gold,1924,Chamonix,Skating,Figure skating,individual,W,Gold
Gold,1924,Chamonix,Skating,Figure skating,pairs,X,Gold
Bronze,1924,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Bronze
Gold,1924,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Gold
Silver,1924,Chamonix,Biathlon,Biathlon,military patrol,M,Silver
Silver,1924,Chamonix,Skating,Figure skating,pairs,X,Silver
Gold,1924,Chamonix,Skating,Speed skating,10000m,M,Gold
Silver,1924,Chamonix,Skating,Speed skating,10000m,M,Silver
Gold,1924,Chamonix,Skating,Speed skating,1500m,M,Gold
Gold,1924,Chamonix,Skating,Speed skating,5000m,M,Gold
Silver,1924,Chamonix,Skating,Speed skating,5000m,M,Silver
Bronze,1924,Chamonix,Skating,Speed skating,500m,M,Bronze
Bronze,1924,Chamonix,Skating,Speed skating,combined (4 events),M,Bronze
Gold,1924,Chamonix,Skating,Speed skating,combined (4 events),M,Gold
Bronze,1924,Chamonix,Skiing,Cross Country S,18km,M,Bronze
Bronze,1924,Chamonix,Biathlon,Biathlon,military patrol,M,Bronze
Bronze,1924,Chamonix,Curling,Curling,curling,M,Bronze
Bronze,1924,Chamonix,Skating,Figure skating,pairs,X,Bronze
Silver,1924,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Silver
Gold,1924,Chamonix,Curling,Curling,curling,M,Gold
Bronze,1924,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Bronze
Bronze,1924,Chamonix,Skating,Figure skating,individual,W,Bronze
Bronze,1924,Chamonix,Skating,Speed skating,10000m,M,Bronze
Bronze,1924,Chamonix,Skating,Speed skating,1500m,M,Bronze
Silver,1924,Chamonix,Skating,Speed skating,1500m,M,Silver
Bronze,1924,Chamonix,Skating,Speed skating,5000m,M,Bronze
Bronze,1924,Chamonix,Skating,Speed skating,500m,M,Bronze
Silver,1924,Chamonix,Skating,Speed skating,500m,M,Silver
Silver,1924,Chamonix,Skating,Speed skating,combined (4 events),M,Silver

In [ ]:
data.drop(data.columns[2:4],axis=1).head()

        Year      City  NOC       Event Event gender   Medal
Medal
Silver  1924  Chamonix  AUT  individual            M  Silver
Gold    1924  Chamonix  AUT  individual            W    Gold
Gold    1924  Chamonix  AUT       pairs            X    Gold
Bronze  1924  Chamonix  BEL    four-man            M  Bronze
Gold    1924  Chamonix  CAN  ice hockey            M    Gold

In [ ]:
data[data['Year']!='2006'].head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Silver,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
Gold,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
Gold,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
Bronze,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
Gold,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
data=pd.read_csv(url)
data.groupby('NOC').head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2231,2006,Turin,Biathlon,Biathlon,POL,15km mass start,M,Silver
2232,2006,Turin,Skiing,Cross Country S,POL,30km,W,Bronze
2269,2006,Turin,Skiing,Snowboard,SVK,Snowboard Cross,M,Silver
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze

In [ ]:
data.groupby('NOC').count()

     Year  City  Sport  Discipline  Event  Event gender  Medal
NOC
AUS     6     6      6           6      6             6      6
AUT   185   185    185         185    185           185    185
BEL     5     5      5           5      5             5      5
BLR     6     6      6           6      6             6      6
BUL     6     6      6           6      6             6      6
CAN   119   119    119         119    119           119    119
CHN    33    33     33          33     33            33     33
CRO     7     7      7           7      7             7      7
CZE    10    10     10          10     10            10     10
DEN     1     1      1           1      1             1      1
ESP     2     2      2           2      2             2      2
EST     6     6      6           6      6             6      6
EUA    19    19     19          19     19            19     19
EUN    23    23     23          23     23            23     23
FIN   151   151    151         151    151           151    151
FRA    83    83     83          83     83            83     83
FRG    41    41     41          41     41            41     41
GBR    21    21     21          21     21            21     21
GDR   110   110    110         110    110           110    110
GER   158   158    158         158    158           158    158
HUN     6     6      6           6      6             6      6
ITA   101   101    101         101    101           101    101
JPN    32    32     32          32     32            32     32
KAZ     5     5      5           5      5             5      5
KOR    31    31     31          31     31            31     31
LAT     1     1      1           1      1             1      1
LIE     9     9      9           9      9             9      9
LUX     2     2      2           2      2             2      2
NED    78    78     78          78     78            78     78
NOR   280   280    280         280    280           280    280
NZL     1     1      1           1      1             1      1
POL     8     8      8           8      8             8      8
PRK     2     2      2           2      2             2      2
ROU     1     1      1           1      1             1      1
RUS    76    76     76          76     76            76     76
SLO     4     4      4           4      4             4      4
SUI   118   118    118         118    118           118    118
SVK     1     1      1           1      1             1      1
SWE   118   118    118         118    118           118    118
TCH    25    25     25          25     25            25     25
UKR     5     5      5           5      5             5      5
URS   194   194    194         194    194           194    194
USA   216   216    216         216    216           216    216
UZB     1     1      1           1      1             1      1
YUG     4     4      4           4      4             4      4

In [ ]:
data.groupby(['Year','NOC']).head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2286,2006,Turin,Bobsleigh,Bobsleigh,USA,two-man,W,Silver
2287,2006,Turin,Curling,Curling,USA,curling,M,Bronze
2288,2006,Turin,Ice Hockey,Ice Hockey,USA,ice hockey,W,Bronze
2289,2006,Turin,Skating,Figure skating,USA,ice dancing,X,Silver
2290,2006,Turin,Skating,Figure skating,USA,individual,W,Silver

In [ ]:
data.groupby(['Year','NOC']).count()

          City  Sport  Discipline  Event  Event gender  Medal
Year NOC
1924 AUT     3      3           3      3             3      3
     BEL     1      1           1      1             1      1
     CAN     1      1           1      1             1      1
     FIN    11     11          11     11            11     11
     FRA     3      3           3      3             3      3
...        ...    ...         ...    ...           ...    ...
2006 SUI    14     14          14     14            14     14
     SVK     1      1           1      1             1      1
     SWE    14     14          14     14            14     14
     UKR     2      2           2      2             2      2
     USA    25     25          25     25            25     25

[328 rows x 6 columns]

In [ ]:
#